body {
    background-color: rgb(4, 4, 46);
    color: aliceblue;
    text-align: justify;
    padding-left: 1em;
    display: block;
}

li {
  margin-bottom: 0.75em;
}

span:hover {
    background-color: aqua;
    color: black;
    border-radius: 0.4em;
    padding: 0.3em;
    font-size: larger;
    font-weight: bold;
}

li button {
  font-size: 0.75em;
  margin-left: 1.25em;
  color: #666;
}

button:hover {
    background-color: gold;
    border-radius: 0.4em;
    font-weight: bold;
}